@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    /* overflow: hidden; */
}

.navbar {
    background-color: white;
    box-shadow: 3px 3px 3px rgb(204, 191, 191);

}


.menu-text {
    font-weight: bold;
    font-size: .8rem;
}

.login-btn::after {
    content: "Login";
    color: black;
    font-weight: bold;
}

.banner-heading {
    font-weight: bold;

}

.fit-container {
    min-width: max-content;
    min-height: max-content;
}

.img-container {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(7, 7, 7, 0.267);

    display: flex;
    flex-direction: row;
}

@media only screen and (min-width:321px) and (max-width:768px) {
    .img-container {
        flex-direction: column;
    }

}

.img-card:nth-child(1),
.img-card:nth-child(2),
.img-card:nth-child(3) {
    height: 40vh;
    flex-grow: 1;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    color: white;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.192);
    
}

.img-card:nth-child(1) {


    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(8, 8, 8, 0.39)), url("https://cdn.pixabay.com/photo/2015/01/10/17/32/physiotherapy-595529__340.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(8, 8, 8, 0.39)), url("https://cdn.pixabay.com/photo/2015/01/10/17/32/physiotherapy-595529__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.7s all ease-in-out;
}

.img-card:nth-child(2) {

   
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(8, 8, 8, 0.39)), url("https://cdn.pixabay.com/photo/2018/01/01/01/56/yoga-3053487__340.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(8, 8, 8, 0.39)), url("https://cdn.pixabay.com/photo/2018/01/01/01/56/yoga-3053487__340.jpg");

    background-size: cover;
    transition: 0.7s all ease-in-out;
    background-repeat: no-repeat;
}

.img-card:nth-child(3) {

    flex-grow: 2;
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(8, 8, 8, 0.39)), url("https://cdn.pixabay.com/photo/2015/06/08/15/13/women-801940__340.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(8, 8, 8, 0.39)), url("https://cdn.pixabay.com/photo/2015/06/08/15/13/women-801940__340.jpg");
    background-size: cover;
    transition: 0.7s all ease-in-out;
    background-repeat: no-repeat;
    
    
}

.img-card:hover {

    flex-grow: 3;
    height: 40vh;
    transition: 0.7s all ease-out;
}

.img-card>h5 {
    flex-grow: 16;
    font-weight: bold;
}

.card-arrow-icon {
    justify-content: end;
    align-items: flex-end;
    flex-grow: 1;
    visibility: hidden;
}

.img-card:hover>.card-arrow-icon {
    visibility: visible;
    transition: 0.4s all ease-in-out;
}